<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <div class="space"></div>
    <a class="navbar-brand">
      <h1>Sala de Leitura - E.E. Adoniran Barbosa</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Opções de Navegação</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">
              <i class="bi bi-house-door"></i>
              Página Inicial
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="sobre">
              <i class="bi bi-columns-gap"></i>
              Sobre nós
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pesquisar">
              <i class="bi bi-search"></i>
              Pesquisar Livros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">
              <i class="bi bi-person-circle"></i>
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header>
  
</header>

<main>
  <section class="img-books">
    <img src="../imagens/image2.jpg" alt="livros">
  </section>
  <section class="text-home">
    <div>
      <section class="text-about">
        <h3>Sobre nós</h3>
        <p>
          A Escola Estadual Adoniran Barbosa está situada na cidade de Valinhos. A unidade 
          está instalada junto a comunidade do Parque CECAP (Fonte Nova), para oferecer a
          educação de ensino regular de nível médio. De acordo com o Censo Escolar 2024, do
          INEP, atualmente a unidade escolar tem 1.094 alunos matriculados e conta com uma 
          equipe de 39 professores, e ainda outros, como gestores e funcionários.
        </p>
        <p>
          "Qualidade de ensino é o nosso lema, acreditamos que cada aluno merece uma educação 
          excepcional que o prepare para enfrentar os desafios do mundo moderno. Nós nos 
          comprometemos a oferecer um ambiente de aprendizado inclusivo e estimulante, onde 
          nossos alunos possam desenvolver todo o seu potencial acadêmico, intelectual e 
          emocional. Acreditamos que uma educação de qualidade é a base para um futuro brilhante 
          e estamos empenhados em proporcionar isso aos nossos alunos todos os dias."
          - Diretoria Adoniran Barbosa
        </p>
        <p>
          Texto publicado: <a href="https://eeadoniran.wixsite.com/adoniranbarbosa" target="_blank">Site E.E. Adoniran Barbosa</a>
        </p>

        <div class="contact">
          <tr>
            <td class="street">
              <p>
                <span class="icon"><i class="bi bi-geo-alt"></i></span>
                <span>Rua das Azaléias, nº 3.403, Fonte Nova - Valinhos/SP</span>
              </p>
            </td>
            <td class="phone">
              <p>
                <span class="icon"><i class="bi bi-telephone-inbound"></i></span>
              </p>
              <p>
                <span>(19)3871-5236</span>
              <p>
            </td>
            <td class="mail">
              <p>
                <span class="icon"><i class="bi bi-envelope-at"></i></span>
              </p>
              <p>
                <span>adoniran.barbosaee@gmail.com</span>
              </p>
            </td>
          </tr>
        </div>
      </section>
    </div>
  </section>
</main>

<footer>
  <p>2025 - Projeto Integrador - Desenvolvido por alunos do Curso de TI da UNIVESP</p>
</footer>